
CREATE TABLE IF NOT EXISTS public.pricing_master (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    model TEXT NOT NULL,
    version TEXT NOT NULL,
    policy_name TEXT NOT NULL,
    commission NUMERIC DEFAULT 0,
    vpoint NUMERIC DEFAULT 0,
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW(),
    UNIQUE(model, version, policy_name)
);

-- Enable RLS
ALTER TABLE public.pricing_master ENABLE ROW LEVEL SECURITY;
CREATE POLICY \
Allow
read
for
all
on
pricing_master\ ON public.pricing_master FOR SELECT USING (true);
CREATE POLICY \Allow
all
for
authenticated
on
pricing_master\ ON public.pricing_master FOR ALL USING (true);

-- Indexes
CREATE INDEX IF NOT EXISTS idx_pricing_master_lookup ON public.pricing_master(model, version);

